<style>
    .card-body {
        color: rgb(75, 62, 62);
    }

    .column {
        float: right;
        width: 40%;
        padding: 10px;
        /* Should be removed. Only for demonstration */
    }
</style>

<div class="row">
    <div class="col-md-12" style=" margin: 10px; border-radius: 25px;" [ngStyle]="{'background-color': bgColor}">
        <div class="card-title">
            <form [formGroup]="productForm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <h2 [ngStyle]="{'color': fontColor}" >Add Product</h2>
                                <div class="input-container">
                                    <label for="" [ngStyle]="{'color': fontColor}">Product Name :</label>
                                    <input type="text" class="form-control" formControlName="name">

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-container">
                                    <label for="">Price : </label>
                                    <input type="text" class="form-control" formControlName="price">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-container">
                                    <label for="">Stock : </label>
                                    <input type="text" class="form-control" formControlName="stock">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    Promotion:
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select class="form-control" formControlName="promotion">
                                            <option value=""></option>
                                            <option *ngFor="let item of promotions; index as i">
                                                {{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-container">
                                    <label for="">Detail :</label>
                                    <textarea class="form-control" rows="5" id="detail" formControlName="detail"></textarea><br />
                                    <!-- <textarea [(ngModel)]="comment" class="form-control" rows="5" id="comment"></textarea><br/> -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                Image:
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <!-- <input type="file" class="form-control-file" formControlName="file"> -->
                                    <input type="file" class="form-control-file" formControlName='file' (change)="onChangeImg($event)">
                                </div>
                            </div>
                            



                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 20px; margin-bottom: 20px;">
                            <button type="button" class="btn btn-primary" style="position: absolute;"
                                (click)="addProduct()">Add</button>&nbsp;
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>