<style>
    .card-body {
        color: rgb(75, 62, 62);
    }

    .column {
        float: right;
        width: 40%;
        padding: 10px;
        /* Should be removed. Only for demonstration */
    }
</style>

<div class="row">
    <div class="col-md-12" style=" margin: 10px; border-radius: 25px;" [ngStyle]="{'background-color': bgColor}">
        <div class="card-title">
            <form [formGroup]="productForm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12" [ngStyle]="{'color': fontColor}">
                            <div class="form-group">
                                <h2>Add Product</h2>
                                <div class="input-container">
                                    <label for="">Product Name :</label>
                                    <input type="text" class="form-control" formControlName="name">
                                    <div *ngIf="name?.errors && (name?.dirty || name?.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="name?.errors?.['required']">
                                            name is required
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-container">
                                    <label for="">Price : </label>
                                    <input type="number" class="form-control" formControlName="price">
                                    <div *ngIf="price?.errors && (price?.dirty || price?.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="price?.errors?.['required']">
                                            price is required
                                        </div>
                                        <div *ngIf="price?.errors?.['min']">
                                            price must be upper than 1
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-container">
                                    <label for="">Stock : </label>
                                    <input type="number" class="form-control" formControlName="stock">
                                    <div *ngIf="stock?.errors && (stock?.dirty || stock?.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="stock?.errors?.['required']">
                                            stock is required
                                        </div>
                                        <div *ngIf="stock?.errors?.['min']">
                                            stock must be upper than 1
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    Promotion:
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select class="form-control" formControlName="promotion">
                                            <option value=""></option>
                                            <option *ngFor="let item of promotions; index as i">
                                                {{item.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="promotion?.errors && (promotion?.dirty || promotion?.touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="promotion?.errors?.['required']">
                                                Please select the promotion
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-container">
                                    <label for="">Detail :</label>
                                    <textarea class="form-control" rows="5" id="detail"
                                        formControlName="detail"></textarea>
                                    <div *ngIf="detail?.errors && (detail?.dirty || detail?.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="detail?.errors?.['required']">
                                            Please insert the detail
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                            <div class="col-md-3">
                                Image:
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <!-- <input type="file" class="form-control-file" formControlName="file"> -->
                                    <input type="file" class="form-control-file" formControlName='file'
                                        (change)="onChangeImg($event)">
                                    <div *ngIf="file?.errors && (file?.dirty || file?.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="file?.errors?.['required']">
                                            Please drop the image
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-md-3">

                                        </div>
                                        <div class="col-md-9">
                                            <img *ngIf="previewLoaded" class="img-thumbnail"
                                                [src]="this.productForm.value.img" style="height:150px;">
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 20px; margin-bottom: 20px;">
                            <button type="button" class="btn btn-primary" style="position: absolute;"
                                (click)="addProduct()">Add</button>&nbsp;
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>