<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #9ed7ff;">
  <div class="container-fluid" >
    <span class="navbar-brand" style="color: rgb(0, 0, 0);font-size: 35px;" >store</span>
    
    <div class="d-flex">
      <span class="navbar-brand"  style="color:rgb(0, 0, 0);margin-right: 50px;margin-top: 10px;">user : {{user}}</span> 
      <button class="btn btn-danger" type="submit" (click)="signout()">log out</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<div class="row">
  <div class="col-md-6">
    <div class="card"  style="width: 100%;height: auto;background-color: #ffffff;">
      <div class="card-header">
        Dolls in your cart
      </div>
      <div style="width: 100%;height: 38px;background-color: #88d6f9;">
        <div class="table-responsive-md">
          <table class="table table-striped table-inverse">
            <thead class="thead-inverse">
              <tr>
                <th>Products</th>
                <th>Price</th>
                <th>quantity</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
  
              <tr *ngFor="let item of order.list; index as i">
                <td scope="row">{{item.nameBook}}</td>
                <td>{{item.costBook}}</td>
                <td>{{item.quantity}}</td>
  
                <div style="width: 100%;height: 100%">
                  <button mat-raised-button (click)="minusTocart(item.idBook)">
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </div>
              </tr>
            </tbody>
            <br><br>
          </table>
          <span style="font-size: 20px;font-weight: bold;">Sum: {{order.totalPayment}} Bath</span>
        </div>
      </div>
      </div>
  </div>
  
    <div class="col-md-6">
      <app-detail></app-detail>
  </div>
</div>  

    
