<style>
    .card-body {
        color: rgb(75, 62, 62);
    }

    .column {
        float: right;
        width: 40%;
        padding: 10px;
        /* Should be removed. Only for demonstration */
    }

    .right {
        width: 40%;
    }

    .left {
        width: 60%;
    }
</style>

<div class="rows">
    <div class="col-md-12" style="background-color:rgb(220, 252, 230); margin: 10px; border-radius: 25px;">
        <div class="card-title">
            <form>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <h2>Edit Product</h2>
                                <div class="input-container">
                                    <label for="">Product Name :</label>
                                    <input type="product_name" class="form-control" formControlName="product_name">

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-container">
                                    <label for="">Price : </label>
                                    <input type="price" class="form-control" formControlName="price">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-container">
                                    <label for="">Stock : </label>
                                    <input type="stock" class="form-control" formControlName="stock">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-container">
                                    <label for="">Promotion : </label>
                                    <input type="promotion" class="form-control" formControlName="promotion">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-container">
                                    <label for="">Detail :</label>
                                    <textarea class="form-control" rows="5" id="detail"></textarea><br />
                                    <!-- <textarea [(ngModel)]="comment" class="form-control" rows="5" id="comment"></textarea><br/> -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                Image:
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                  <input type="file" class="form-control-file" formControlName='file'>
                                  <!-- <input type="file" class="form-control-file" formControlName='file' (change)="onChangeImg($event)"> -->
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 20px;">

                            <!-- <button type="button" class="btn btn-warning"  (click)="signup()">Sign up</button>&nbsp; -->
                            <!-- <button type="button" class="btn btn-secondary" (click)="goToDashBoard()">goToDashboard</button>&nbsp; -->
                            <!-- <button type="button" class="btn btn-danger" (click)="signout()">Sign out</button> -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
