<style>
    .card-body {
        color: rgb(75, 62, 62);
    }

    .column {
        float: right;
        width: 40%;
        padding: 10px;
        /* Should be removed. Only for demonstration */
    }

    .right {
        width: 40%;
    }

    .left {
        width: 60%;
    }
</style>

<div class="rows">
    <div class="col-md-12" style="background-color:rgb(252, 220, 220); margin: 10px; border-radius: 25px;">
        <div class="card-title">
            <div class="card-body">
            <h2 style="margin-left:20px; margin-top:30px; ">Delete Product</h2>
            <div class="table-responsive-md">
                <table class="table table-striped table-inverse">
                    <tbody>
                        <tr *ngFor="let item of products; index as i">

                            <td scope="row">{{item.name}}</td>



                            <td>
                                <div class="row row-cols-1">

                                    <div class="col" style="margin-top: 5px;">
                                        <a class="btn btn-danger" role="button" style="width: 200px;"
                                            (click)="deleteproduct(item._id)">
                                            <i>
                                                Delete
                                            </i>
                                        </a>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>
