<style>
    .card-body {
        color: rgb(75, 62, 62);
    }

    .column {
        float: right;
        width: 40%;
        padding: 10px;
        /* Should be removed. Only for demonstration */
    }

    .right {
        width: 40%;
    }

    .left {
        width: 60%;
    }
</style>

<div class="rows">
    <div class="col-md-12" style="background-color:rgb(252, 220, 220); margin: 10px; border-radius: 25px;">
        <div class="card-title">
            <form>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12" >
                            <div class="form-group">
                                <h2>Delete Product</h2>
                                <div class="row">
                                    <div class="col-md-12">
                                        Product Name:
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select class="form-control" formControlName="name">
                                              <option value=""></option>
                                              <option *ngFor="let item of productName" [value]="item">{{item}}</option>
                                            </select>
                                          </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 20px; margin-bottom: 20px;">
                            <button type="button" class="btn btn-primary" style="position: absolute;"
                            (click)="DeleteProduct()">Delete</button>&nbsp;
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
