<div class="container-fluid" style="margin-top:30px">
  <!-- <div class="row">
    <div class="col-md-7">
      <form class="form-inline">
        <div class="form-group">
          <div style="display: inline-block;margin-right: 40px;">
            <input type="text" name="search" class="form-control" style="width: min-content" [formControl]="keyword"
              placeholder="Search for a product type">
          </div>

          <div style="display: inline-block; margin-right: 10px;">
            <button type="button" class="btn btn-outline-primary" (click)="onSearch1()">Search</button>
          </div>
        </div>
      </form>
    </div> -->

    <div class="col-md-12">
      <div style="display: inline-block; margin-right: 30px;">
        <input type="number" [(ngModel)]="help" class="form-control" placeholder="ป้อนตัวเลขเพื่อถอดรหัส">
      </div>

      <div style="display: inline-block">
        <div class="row text-center">
          <div [ngSwitch]="help">
            <div *ngSwitchCase="3496">
              <div class="alert alert-success" role="alert">
                <strong>เดินไปสามสี่ก้าวก็หก</strong>
              </div>
            </div>
            <div *ngSwitchCase="3651212101">
              <div class="alert alert-success" role="alert"> <strong>หนึ่งปีมีวันแม่สองครั้งที่ร้อยเอ็ด</strong>
              </div>
            </div>
            <div *ngSwitchDefault>
              <div class="alert alert-danger" role="alert">
                <strong>ยังไม่มีคำถอดรหัส</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
